<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %> | CSE 340 App</title>
    <meta name="description" content="CSE 340 - Leonardo Guarino - BackEnd Development course.">
    <meta name="author" content="Leonardo Guarino">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/larger.css">
    <link rel="preload" href="/css/base.css" as="style">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/site/favicon-32x32.png">
    <meta property="og:title" content="Leonardo Guarino - CSE 340 - Back End Development" />
    <meta property="og:type" content="website" />
    <!-- <meta property="og:image" content="" />
    <meta property="og:url" content="" /> -->
</head>