<!-- <header id="top-header">
    <span class="siteName"> CSE Motors  </span>
    <div id="tools">
      <a title="Click to log in" href="/account/login">My Account</a>
    </div>
</header> -->

<!-- <header id="top-header">
  <span class="siteName"> CSE Motors  </span>
  <div id="tools">
    </% if (loggedin) { %>
      <span class="welcome">Welcome </%=`${accountData.account_firstname} (${accountData.account_type})`%></span>
      <a title="Click to log out" href="/account/logout">Logout</a>
    </% } else { %>
      <a title="Click to log in" href="/account/login">My Account</a>
    </% } %>
  </div>
</header> -->

<header id="top-header">
  <span class="siteName"> CSE Motors </span>
  <div id="tools">
    <% console.log("loggedin / accountData", loggedin, accountData) %>
    <% if (loggedin == 1) { %>
      <span class="welcome">Welcome <%= accountData.account_firstname %> (<%= accountData.account_type %>)</span>
      <a title="Click to log out" href="/account/logout">Logout</a>
    <% } else { %>
      <a title="Click to log in" href="/account/login">My Account</a>
    <% } %>
  </div>
</header>
