<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>
<%- messages() %>
    <div class="hero">
        <h1 class="herolabel">Welcome to CSE Motors!</h1>
        
        <picture>
            <source media="(max-width: 500px )" srcset="images/vehicles/delorean.jpg">
            <source media="(max-width: 960px )" srcset="images/vehicles/delorean.jpg">
            <img src="/images/vehicles/delorean.jpg" alt="Delorean" width="1500" height="750">
        </picture>
        
        <div class="cta">
            <h1>DMC Delorean</h1>
            <ul>
                <li>3 Cup Holders</li>
                <li>Superman doors</li>
                <li>Fuzzy dice!</li>
            </ul>
            <button>Own Today!</button>
        </div>
   
        
            
    </div>
    <div class="search-container">
        <form class="search-bar" action="/inv/search" method="get">
            <input type="search" 
                   name="key_word" 
                   placeholder="Search your car here..."
                   pattern="^[A-Za-z0-9 ]{2,}$" 
                   title="Only letters and numbers are allowed, and you must enter more than one character."
                   required
                   value= <%= locals.key_word%> >
            <button type="submit">Search</button>
        </form>
    </div>
    <small>*Only letters and numbers are allowed, and you must enter more than one character. You can use more than a keyword separeted by a space</small>    

    <div class="card">
        
        <div class="reviews">
            <h1>DMC Delorean Reviews</h1>
            <ul>
                <li>"So fast it's almost like travelling in time". (4/5)</li>
                <li>"Collest ride on the road". (4/5)</li>
                <li>"I'm feeling McFly", (5/5)</li>
                <li>"The most futuristic ride of our days". (4/5)</li>
                <li>"80's livin and I love it!". (4.5/5)</li>
            </ul>
        </div>
            <div class="upgrades-container">
                <h1>DMC Delorean Upgrades</h1>
                <div class="upgrades">
                    <div class="upgrade-item">
                        <img src="/images/upgrades/flux-cap.png" alt="Flux-capacitor">
                        <a href="">Flux Capacitor</a>
                    </div>
                    <div class="upgrade-item">
                        <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
                        <a href="">Flame Decals</a>
                    </div>
                    <div class="upgrade-item">
                        <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker">
                        <a href="">Bumper Sticker</a>
                    </div>
                    <div class="upgrade-item">
                        <img src="/images/upgrades/hub-cap.jpg" alt="Hub caps">
                        <a href="">Hub caps</a>
                    </div>
                </div>
            </div>
    </div>

