@media screen and (min-width: 800px) {

    .cta {
        position: absolute;
        top: 150px;
        left: auto;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .herolabel {
        font-size: x-large;
    }

    .cta h2 {
        font-size: 30px;
    }

    
    .hero {
        max-width: 1000px;
    }
    
    .card {
        display: grid;  
        grid-template-columns: 40fr 60fr;  
        grid-auto-rows: auto;  
        gap: 10px;
        margin-top: 40px;
        margin: auto;
        margin-top: 40px;
      }

      .upgrades-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; /* Center items horizontally */
        text-align: center; /* Center text within items */
      }

      .upgrades-container h1 {
        margin: 0px;
      }

      .upgrades {
        left: auto;
        right: auto;
        width: 100%;
      }

      .upgrade-item {
        width: 100%;
      }

      .reviews {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; /* Center items horizontally */
        text-align: center; /* Center text within items */
      }
      
      .reviews h1 {
        margin: 0;  
      }
      
      .reviews ul {
        padding: 0;  
        list-style-type: none;  
      }

      .reviews ul li {
        margin-bottom: 10px; 
      }
      #inv-display{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        padding: 0;
      }
      
      #inv-display li {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid blue;
      }
      .namePrice {
        text-align: center;
        font-size: larger;
        
      }
}