<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>
  
  <%- messages() %>
  
  <form action="/inv/add-classification" method="POST" class="login-form">
    <label for="name">Name:</label>
    <input type="text" id="classification_name" name="classification_name" required pattern="[A-Za-z]{2,}" value="<%= locals.classification_name %>">
    <small>Name must be Alphanumeric characters only</small>
    <button type="submit">Submit</button>
  </form>
  